
body {
    background-color:black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
select {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

select:hover {
    background-color: #3e8e41;
}
h1 {
    font-size: 2em;
    margin: 0.9em 2px;
    text-align: center;
}

form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

input[type="text"] {
    font-size: 1.2em;
    padding: 0.5em;
    width: 100%;
    max-width: 20em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #4caf50;
    border: none;
    color: white;
    font-size: 1.2em;
    padding: 0.5em;
    margin-top: 10px;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}
.responsive-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}

.responsive-container iframe,
.responsive-container object,
.responsive-container embed,
.responsive-container video
{
    margin-left: auto;
    margin-right: auto;
    display: block
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}